<form action="/costumes/<%= @costumes.id %>" method="PATCH">
  <input type="text" name="name" value="<%= @costumes.name %>">
  <input type="submit" value="Update Your Project Name!">
</form>  

<br>


<form action="/costumes/<%= @costumes.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Costume" >
</form>

<br>

<form action="/costumes" method="POST">
  <input type="text" name="name" placeholder="Project Name">
  <input type="text" name="description" placeholder="Project Description">  <!-- I want this field to be styled larger/for long descriptions -->
  <input type="submit" value="Send Me Your Project!">
</form>  