<h1>Login to get started:</h1><br><br>
<form action='/login' method="post">
  <input type="email" name="user[email]" placeholder="email"><br>
  <input type="password" name ="user[password]" placeholder="password"><br>
  <input type="submit" value="Login">
</form><br><br>