
<form action="/costumes/<%= @costume.id %>/edit" method="PATCH">
  <input type="text" name="name" value="<%= @costumes.name %>">
  <input type="text" name="description" value="<%= @costumes.description %>">
  <input type="submit" value="Update Project">
</form>  