
<form action="/costumes/<%= @costume.id %>" method="patch"> 
  <input type="text" name="costume[name]" value="<%= @costume.name %>">
  <input type="text" name="costume[description]" value="<%= @costume.description %>">
  <input type="submit" value="Update Submission">
</form>  

