
<form action="/costumes/<%= @costume.id %>/edit" method="PATCH"> 
  <input type="text" name="name" value="<%= @costume.name %>">
  <input type="text" name="description" value="<%= @costume.description %>">
  <input type="submit" value="Update Project">
</form>  