<h2>Here you can submit fursuit's and rank them against others!</h2><br>
<h6>Rankings go from 1-10, 10 being the highest rank a suit can recieve</h6><br>
<h6>Make sure you don't forget to credit the owner of the suit and tell us why you made you choice!</h6>
<br><br>
<form action="/costumes" method="POST">
  <input type="text" name="costume[name]" placeholder="Fursuit Name"><br>
  <input type="text" name="costume[suit_owner]" placeholder="Owner's Username"><br>
  <input type="text" name="costume[ranking]" placeholder="Rank it!"><br>
  <textarea name="costume[description]" placeholder="Describe the suit and why you chose your ranking"></textarea><br>
  <input type="submit" value="Submit">
</form>  
     
           