
<form action="/costumes" method="POST">
  <input type="text" name="costume[name]" placeholder="Project Name"><br>
  <textarea name="costume[description]" placeholder="Project Description"></textarea><br>
  <input type="submit" value="Submit Your Costume Idea">
</form>  
     
           