
<form action="/costumes" method="POST">
  <input type="text" name="name" placeholder="Project Name">
  <input type="text" name="description" placeholder="Project Description">  <!-- I want this field to be styled larger/for long descriptions -->
  <input type="submit" value="Submit Your Costume Idea">
</form>  