

<h2> Greetings, from the juicy boneyard </h2>

<%# this page should render as both the most base page and after a user logs in %>
<%# So this page should mainly hold an image (yet to be made) that's a welcome to my site %>

<form action="/search" method="get">
  <input type="text" placeholder="Costume Name">
  <input type = "submit" value="Search Costumes">
</form>