

<h1> Rank your favorite fursuits!</h1>
<br><br>
<h5>Already have some submissions? Find them quick by searching:</h5><br>
<form action="/search" method="get">
    <input type="text" placeholder="find by name" name="costumes[name]">
    <input type="submit" value="search">
</form><br><br>

