

<h2> Rank your favorite fursuits!</h2>
<br><br>
Already have some submissions? Find them quick by searching:<br>
<form action="/search" method="get">
    <input type="text" placeholder="find by name" name="costumes[name]">
    <input type="submit" value="search">
</form>

